<!DOCTYPE html>
<!--href="{{ url_for('index') }}-->
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-custom.css') }}" />
        {% block css %} {% endblock %}

        <title>{% block title %}Quarzlet{% endblock %}</title>
    </head>
    <body class="bg-light">
        <!--Navbar -->
        <div class="row no-gutters" style="height: 8vh">
            <nav class="navbar navbar-custom navbar-expand-lg flex-md-nowrap p-2">
                <a href="{{ url_for( 'back' ) }}" class="navbar-brand col-sm-1 mr-0">Quarzlet</a>

                <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item text-nowrap">
                            <a href="{{ url_for( 'back' ) }}" class="nav-link active">Home</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        {% block content %} {% endblock %} {% block navbottom %} {% endblock %}
    </body>
</html>
