<!DOCTYPE html>

{% extends "base.html" %} {% block content %}
<div class="container mt-5 mb-5 bg-light">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="shadow-sm p-4 rounded bg-white">
                <!-- Content goes here -->
                <h2 class="text-center">Create a new quiz!</h2>
                <p class="text-center">Please fill out all the fields: Name of the quiz, Question, four answer choices, and select the correct answer.</p>
            </div>
        </div>
    </div>

    {% if quiz_data['name'] and quiz_data['description'] %}
        {% for field in ['name', 'description'] %} 
            <div class="row my-2 justify-content-center align-items-center">
                <div class="col-md-9">
                    <div class="shadow-sm p-4 rounded bg-white">
                        <div class="form-inline">
                            <p class="mb-2">{{ field|capitalize }}:</p> 
                            <p class="border rounded p-2 bg-light ml-4 mb-2 flex-grow-1">{{ quiz_data[field] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if quiz_data['quiz']|length > 0 %}
        {% for question in quiz_data['quiz'] %}
        <div class="row my-2 justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="shadow-sm p-4 rounded bg-white">

                    <div class="form-inline">
                        <p class="mb-2">Question {{ loop.index }}</p> 
                        <p class="border rounded p-2 bg-light ml-3 mb-2 flex-grow-1"> {{ question['question'] }}</p>
                    </div>

                    {% for i in range(4) %}
                        <div class="form-inline">
                            <input type="radio" class="ml-5 mr-3" {% if question['correctanswer'] == question['answerChoices'][i] %} checked disabled {% else %} disabled {% endif %}>
                            <p class="border rounded p-2 bg-light ml-3 mb-2 flex-grow-1">{{ question['answerChoices'][i] }}</p>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %} 

    <form method="post" action="/update" autocomplete="off">

        {% if not(quiz_data['name'] and quiz_data['description']) %}
            {% for field in ['name', 'description'] %}
            <div class="row my-2 justify-content-center align-items-center">
                <div class="col-md-9">
                    <div class="shadow-sm p-4 rounded bg-white">
                        <div class="form-inline">
                            <label for="quiz{{ field }}" class="mb-2">{{ field|capitalize }}:</label>
                            <input type="text" name="quiz{{ field }}" class="form-control ml-4 mb-2 flex-grow-1 bg-light" placeholder="Enter the {{ field }} of the quiz" value required>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <div class="row my-2 justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="shadow-sm p-4 rounded bg-white">

                    <div class="form-inline">
                        <label for="question" class="mb-2">Question {{ quiz_data['quiz']|length + 1 }}</label>
                        <input type="text" id="question" name="question" class="form-control mx-3 mb-2 flex-grow-1 bg-light" placeholder="Enter a question here" required>
                    </div>

                    {% for option in ['A', 'B', 'C', 'D'] %}
                        <div class="form-inline">
                            <input type="radio" class="ml-5 mr-3" name="correct" value="option{{ option }}" required>
                            <input type="text" name="option{{ option }}" class="form-control mx-3 mb-2 flex-grow-1 bg-light" placeholder="Enter an answer choice" required>
                        </div>
                    {% endfor %}
                
                </div>
            </div>
        </div>

        <div class="row my-2 justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card text-center shadow-sm">
                    <div class="card-body">

                        <div class="form-group text-center">
                            <input type="hidden" name="addQuestion" value="true">
                            <button type="submit" class="btn btn-outline-primary btn-block">Add Question</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}

{% block navbottom %}

<form method="post" action="/congrats">
    <div class="row no-gutters fixed-bottom" style="height: 8vh">
        <nav class="navbar navbar-custom navbar-expand-lg flex-md-nowrap p-2">
            <button class="btn btn-outline-light ml-auto mr-4" type="submit" name="createQuiz" {% if not(0 < quiz_data['quiz']|length) %} disabled {% else %} {% endif %}>Create</button>
        </nav>
    </div>
</form>


{% endblock %}