input[type="text"] {
    margin-top: 1rem;
}

input[type="text"]::placeholder {
    font-style: italic;
    font-weight: 350;
    opacity: 0.7;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #0c70db;
    box-shadow: 0 0 5px #0c70db;
}

input[type="password"] {
    margin-top: 1rem;
}

input[type="password"]::placeholder {
    font-style: italic;
    font-weight: 350;
    opacity: 0.7;
}

input[type="password"]:focus {
    outline: none;
    border: 1px solid #0c70db;
    box-shadow: 0 0 5px #0c70db;
}

.form-control {
    font-size: 1.1rem;
}

.form-control + .form-control {
    margin-top: 2em;
}

.error {
    color: #cf1616;
}
