<!DOCTYPE html>

{% extends 'base.html' %} {% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" />
{% endblock %} {% block content %}

<div class="row">
    <!--@bookmark Sidebar-->
    <div class="col-md-2 d-none d-md-block bg-light sidebar vh-100">
        <ul class="nav flex-column">
            <!--Sidebar Heading-->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                <span>Select Quiz</span>
            </h6>
            <!--@bookmark Quiz List-->
            <div class="list-group h-100 sidebar-item">
                {%for i in range(0,len)%}
                <a class="list-group-item list-group-item-action bg-light" href="#">{{quiz_titles[i]}}</a>
                {% endfor %}
            </div>
        </ul>
    </div>

    <!--@bookmark Main Content-->
    <div class="col-md-9 ml-sm-auto col-lg-10 px-4 main">
        <!--@bookmark Quiz Title-->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Quiz Title Here</h1>
        </div>

        <!--@bookmark Loaded Quiz-->
        {%for i in range(0,len)%}
        <p>{{quiz_titles[i]}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
