<!DOCTYPE html>

{% import "macros.html" as macros %} {% extends 'base.html' %} {% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" />
{% endblock %} {% block content %}

<div class="row no-gutters">
    <!--@bookmark Sidebar-->
    <div class="col-md-2 d-none d-md-block bg-light sidebar">
        <ul class="nav flex-column">
            <!--Sidebar Heading-->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                <span>Select Quiz</span>
            </h6>
            <!--@bookmark Quiz List-->
            <!--Macros defined in Macros.html-->
            {{macros.build_quiz_list(quizzes=quizzes, quizzes_len=quizzes_len, selected=current_quiz)}}
        </ul>
    </div>

    {% block quiz_content %}
    <!--@bookmark Main Content-->
    <div class="col-md-9 ml-sm-auto col-lg-10 px-4 main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Welcome!</h1>
        </div>
        <p>Select a quiz from the left panel.</p>
    </div>
    {% endblock %}
</div>

{% endblock %}
