{% extends 'base.html' %} {% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %} {% block content %}

<div class="col-xl-12 ml-sm-auto px-4 content">
    <!--Login Title-->
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-2 mb-3 border-bottom" style="width: 100%; word-break: break-word">
                <h1 class="h1 col-11">Login</h1>
            </div>
        </div>
    </div>

    <form class="row" id="login" action="/login" method="POST" style="height: 2.5rem; font-size: 1rem; left: 20px">
        <div class="col-xl-3"></div>
        <div class="col-xl-5">
            <div class="form-group">
                <div class="form-row px-4">
                    <!--Username-->
                    <label class="form-control" for="username" style="margin-top: 1rem; font-size: 2rem">
                        Username
                        <input class="form-control" type="text" name="username" id="username" placeholder="Enter username here" required />
                    </label>
                    <!--Password-->
                    <label class="form-control" for="password" style="margin-top: 1rem; font-size: 2rem">
                        Password
                        <input class="form-control" type="password" name="password" id="password" placeholder="Enter password here" autocomplete="off" required />
                    </label>
                </div>
                {% if error %}
                <p class="error px-4"><strong>Error:</strong> {{error}}</p>
                {% endif %}
                <div class="form-row px-3 py-4">
                    <div class="col-xl-12">
                        <!--Submit Button-->
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary" style="height: 3rem; font-size: 1.5rem; text-align: center">Log In</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
