<!DOCTYPE html>

<!--@bookmark Macro Quiz Sidebar-->
{% macro build_quiz_list(quizzes, quizzes_len, selected) %}
<div class="list-group h-100 sidebar-item">
    <!--If no quizzes, then return a single entry stating so.-->
    {% if quizzes_len <= 0 %}
    <a href="#" class="list-group-item list-group-item-action bg-light">No quizzes available.</a>
    <!--Else, list all quizzes in a for-loop-->
    {% else %} {% for quiz in quizzes %}
    <!--If the quiz is currently selected, set it to the active class-->
    <a href="{{quiz.url}}" class="list-group-item bg-light {% if selected == quiz.name %}list-group-item-action-active{% else %}list-group-item-action{% endif %}">{{quiz.name}}</a>
    {% endfor %} {% endif %}
</div>
{% endmacro %}

<!--@bookmark Macro Quiz Content-->
{% macro build_quiz_content(num, question, answers) %}
<!--Question-->
<div class="form-row border-bottom" style="width: 100%; word-break: break-word">
    <label for="question{{num}}" style="font-size: 30px; margin-top: 2rem">{{num+1}}) {{question}}</label>
</div>
<br />
<div class="form-row">
    <!--Answers-->
    <div class="form-check">
        {% for i in range(0, 4) %}
        <input class="form-check-input" type="radio" name="question{{num}}" id="option{{i}}" value="{{answers[i]}}" required />
        <label class="form-check-label" for="question{{num}}"> {{answers[i]}} </label>
        <br />
        <br />
        {% endfor %}
    </div>
</div>

{% endmacro %}

<!--@bookmark Macro Quiz Score-->
{% macro score_quiz_content(num, question, correct_answer, answers, user_answer) %}
<!--Question-->
<div class="form-row border-bottom {% if user_answer == correct_answer %}correct{% else %}incorrect{% endif %}" style="width: 100%; word-break: break-word">
    <label for="question{{num}}" style="font-size: 30px; margin-top: 1rem">{{num+1}}) {{question}}</label>
</div>
<br />
<div class="form-row">
    <!--Answers-->
    <div class="form-check">
        {% for i in range(0, 4) %}
        <!--If it is the user answer and it is correct-->
        {% if user_answer == answers[i] and user_answer == correct_answer %}
        <input class="form-check-input" checked readonly type="radio" name="question{{num}}" id="option{{i}}" value="{{answers[i]}}" />
        <label class="form-check-label score correct" for="question{{num}}"> {{answers[i]}} </label>
        <!--If it is the user answer and it is incorrect-->
        {% elif user_answer == answers[i] and user_answer != correct_answer %}
        <input class="form-check-input" checked readonly type="radio" name="question{{num}}" id="option{{i}}" value="{{answers[i]}}" />
        <label class="form-check-label score incorrect" for="question{{num}}"> {{answers[i]}} </label>
        <!--If it is not the user answer and it is correct-->
        {% elif user_answer != answers[i] and answers[i] == correct_answer %}
        <input class="form-check-input" disabled type="radio" name="question{{num}}" id="option{{i}}" value="{{answers[i]}}" />
        <label class="form-check-label score correct" for="question{{num}}"> {{answers[i]}} </label>
        <!--If it is not the user answer and it is incorrect-->
        {% else %}
        <input class="form-check-input" disabled type="radio" name="question{{num}}" id="option{{i}}" value="{{answers[i]}}" />
        <label class="form-check-label score" for="question{{num}}"> {{answers[i]}} </label>
        {% endif %}

        <br />
        <br />
        {% endfor %}
    </div>
</div>

{% endmacro %}
